bin/
.vs/
dumps/
gui/*.bak
gui/__history
launcher/.bak
launcher/__history
lib/
tmp/
*.sdf

/gui/IRPMon.dproj.local
/gui/IRPMon.identcache
/gui/IRPMon.stat
*.user
gui/backup
*.log
/DParser/DParser.dproj.local
/DParser/DParser.identcache
/DParser/DParser.stat
/DParser/__history
/ReqList/ReqList.dproj.local
/ReqList/ReqList.identcache
/ReqList/ReqList.stat
/ReqList/__history
/shared/pas/__history
